LUMA_API_KEY=
OPENAI_API_KEY=
WORKSHOP_MEETING_URL=https://riverside.com/studio/mastra-workshops
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_TOKEN=
SANITY_WORKSHOP_DOC_TYPE=workshop
SANITY_WORKSHOP_PEOPLE_FIELD=hostReferences
